<h1>Users</h1>
<%= link_to 'New User', new_user_path %>
<table>
  <tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Username</th>
  </tr>
  <% @users.map do |user| %>
    <tr>
      <td><%= user.last_name %></td>
      <td><%= user.first_name %></td>
      <td><%= user.username %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user_path(user), method: :delete %></td>
    </tr>
  <% end %>
</table>