

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form-body" }) do |f| %>
  <h2 class="header">LOG IN</h2>

  <div class="field">
    <%= f.label :email, class: 'label' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
  </div>

  <div class="field">
    <%= f.label :password, class: 'label' %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="option">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <%= f.submit "LOG IN", class: 'button' %>
  <div class="shared">
    <%= render "devise/shared/links" %>
  </div>
<% end %>
