<tr>
  <td><%= post.title %></td>
  <td><%= link_to post.user.username, user_posts_path(post.user.id) %></td>
  <td>
    <%= link_to "Show", user_post_path(post.user.id, post.id) %>
    <% if post.user.id == current_user.id %>
      | <%= link_to "Edit", edit_user_post_path(post.user.id, post.id) %>
      | <%= link_to "Delete", user_post_path(post.user.id, post.id), method: :delete %>
    <% end %>
  </td>
</tr>